

.cabecalho {
    background-color: #5C67C6;
    height: 50px;
    width: 100%;
    margin-top: 0px;
}

.img-link {
    margin-left: 50px;
    margin-top: 2px;
    height: 90%;
    display: inline-block;
}
aside {
    float: right;
    height: 100%;
    margin-right: 50px;
}

ul {
    list-style-type: none;
}

.menu {
    vertical-align: top;
}

.menu li {
    display: inline-block;
}
.cabecalho img {
    height: 100%;
}

.link {
    float: right;
    text-decoration: none;
}

.link p {
    text-align: center;
    padding: 10px 100px 15px 0px;
    font-size: 150%;
    color: white;
}

.login-link {
    text-decoration: none;
    text-align: center;
}

.login-link p {
    padding: 5px 10px 5px 10px;
    margin-top: 7px;
    margin-right: 50px;
    font-size: 150%;
}

.botao{
    
    border-radius: 30px;
    background-color: #e02041;
    color: #fff;
}

.botao:hover {
    filter: brightness(95%);
}

.menu-toggle {
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

@media(max-width:480px) {
    
    .cabecalho p {
        font-size: 15px;
        padding: 15px;
    }

   .login-link p {
       padding: 10px;
   }
    
}